


/* Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {
  /* Cambiar tamaño de fuente para el encabezado */
  h1 {
    font-size: 20px;
  }
}
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #beb9b9;
    color: #f5f5f5;
  }
  
  h1, h2 {
    text-align: center;
    color: #111111;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 1rem;
  }
  
  a {
    text-decoration: none;
    color: #f5f5f5;
  }
  
  /* Estilos de encabezado */
  header {
    background-color: #5f5f5f;
    padding: 1rem;
  }
  
  nav {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  
  nav ul {
    display: flex;
  }
  
  nav li:not(:last-child) {
    margin-right: 1rem;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  /* Estilos de secciones */
  section {
    padding: 2rem;
    background-color: #333;
    box-shadow: 0px 0px 10px #111;
  }
  
  section h2 {
    margin-bottom: 2rem;
    color: #c1c1c1;
  }
  
  section ul {
    margin-left: 2rem;
  }
  
  /* Estilos de formulario de contacto */
  form {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #c1c1c1;
  }
  
  input,
  textarea {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #555;
    border-radius: 3px;
    background-color: #222;
    color: #f5f5f5;
  }
  
  button[type="submit"] {
    background-color: #555;
    color: #f5f5f5;
    padding: 0.5rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #333;
  }
  
  /* Estilos de pie de página */
  footer {
    background-color: #222;
    padding: 1rem;
    text-align: center;
    color: #c1c1c1;
  }
  section ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  section ul li {
    margin: 20px;
    flex: 1;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .item {
    width: 30%;
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    text-align: center;
  }
  .item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .item {
    width: 30%;
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    text-align: center;
  }
  .item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .item {
    width: 30%;
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }
  .item img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .item p {
    text-align: center;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .item {
    width: 33.33%;
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  .item img {
    max-width: 100%;
    height: auto;
  }
  .item p {
    text-align: center;
  }
  #virtudes-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
  }
  
  .virtud {
    width: calc(50% - 20px);
    margin-bottom: 40px;
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    text-align: center;
  }
  
  .virtud h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  p {
    font-size: 20px;
  }
  .destacado {
    background-color: rgb(128, 114, 114);
  }
  .gallery {
    display: flex;
    flex-wrap: wrap;
  }
  
  .gallery img {
    width: 33.33%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  

  
  
  